<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado del Método de Newton</title>
    <!-- Incluir Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/resultado_3.css') }}">
</head>

<body class="container mt-6">
    <h1 class="text-center">Resultado del Método de interpolación de Newton</h1>

    <!-- Visualizar la respuesta obtenida del método -->
    <div class="mt-4">
        <h2>Polinomio:</h2>
        <p>{{ respuesta }}</p>
    </div>

    <!-- Mostrar la gráfica generada -->
    <div class="mt-4">
        <h2>Gráfica del Método de Newton:</h2>
        <img src="{{ imagen_path }}" alt="Gráfica del Método de Newton" class="img-fluid">
    </div>

    <h2>Tabla de Diferencias Divididas</h2>
    <table border="1">
        <tbody>
            {% for row in data %}
            <tr>
                {% for value in row %}
                <td>{{ value }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h1>Descargar Tabla Diferencias</h1>
    <form action="newtonint/descargar" method="post">
        <button type="submit">Descargar</button>
    </form>

    <!-- Incluir jQuery y Bootstrap JS si es necesario -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>