<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado del Método de Lagrange</title>
    <!-- Incluir Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/resultado_3.css') }}">
</head>

<body class="container mt-6">
    <h1 class="text-center">Resultado del Método de Lagrange</h1>

    <!-- Visualizar la respuesta obtenida del método -->
    <div class="mt-4">
        <h2>Polinomio:</h2>
        <p>{{ respuesta }}</p>
    </div>

    <!-- Mostrar la gráfica generada -->
    <div class="mt-4">
        <h2>Gráfica del Método de Lagrange:</h2>
        <img src="{{ imagen_path }}" alt="Gráfica del Método de Lagrange" class="img-fluid">
    </div>

    <h1>Descargar Polinomio</h1>
    <form action="lagrange/descargar" method="post">
        <button type="submit">Descargar</button>
    </form>

    <!-- Incluir jQuery y Bootstrap JS si es necesario -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>
