<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biseccion</title>
</head>
<body>
    <form action="/biseccion" method="post">
        <label for="f">f:</label><br>
        <input type="text" id="f" name="f"><br><br>

        <label for="xi">xi:</label><br>
        <input type="text" id="xi" name="xi"><br><br>

        <label for="xs">xs:</label><br>
        <input type="text" id="xs" name="xs"><br><br>

        <label for="tol">Tolerancia:</label><br>
        <input type="text" id="tol" name="tol"><br><br>

        <label for="niter">Nº Iteraciones:</label><br>
        <input type="text" id="niter" name="niter"><br><br>

        <label for="tipe">Tipo de Tolerancia:</label><br>
        <select id="tipe" name="tipe">
            <option value="Decimales Correctos">Decimales Correctos</option>
            <option value="Cifras Significativas">Cifras Significativas</option>
        </select><br><br>

        <input type="submit" value="Enviar">
    </form>
    
</body>
</html>

