
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Raíces Múltiples{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/formulario_1.css') }}">
</head>
{% extends "base.html" %}
{% block content %}
<body>

    <div class="form-container">
        <h1>Método de Raíces Múltiples</h1>
        <p>Ingrese los datos para calcular las raíces múltiples</p>
        <form action="/multiple_roots" method="post">
            <div>
                <label for="fn">Función, fn:</label>
                <input type="text" id="fn" name="fn" required>
            </div>
            
            <div>
                <label for="xi">Valor inicial, xi:</label>
                <input type="text" id="xi" name="xi" required>
            </div>
            
            <div>
                <label for="tol">Tolerancia:</label>
                <input type="text" id="tol" name="tol" required>
            </div>
            
            <div>
                <label for="k">Número máximo de iteraciones:</label>
                <input type="text" id="k" name="k" required>
            </div>
            
            <div>
                <label for="et">Tipo de error:</label>
                <select id="et" name="et">
                    <option value="Decimales Correctos">Decimales Correctos</option>
                    <option value="Cifras Significativas">Cifras Significativas</option>
                </select>
            </div>
            
            <input type="submit" value="Calcular">
        </form>
    </div>
    
</body>
{% endblock %}
</html>