<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regla Falsa</title>
</head>
<body>
    <form action="/rf" method="post">
        <label for="f">f:</label><br>
        <input type="text" id="f" name="f"><br><br>

        <label for="x0">x0:</label><br>
        <input type="text" id="g" name="x0"><br><br>

        <label for="x1">x1:</label><br>
        <input type="text" id="x" name="x1"><br><br>

        <label for="tol">Tolerancia:</label><br>
        <input type="text" id="tol" name="tol"><br><br>

        <label for="Terror">Tipo tolerancia:</label><br>
        <input type="text" id="niter" name="Terror"><br><br>

        <label for="niter">Nº Iteraciones:</label><br>
        <input type="text" id="niter" name="niter"><br><br>

        <input type="submit" value="Enviar">
    </form>
    
</body>
</html>

