<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado Bisección</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/resultado_1.css') }}">
</head>
{% extends "base.html" %}

<body>
    <main>
      {% block content %}
        <h1>Resultado de Bisección</h1>
        <p>{{ r }}</p>
        <div class="table-container">
        <table border="1">
            <thead>
              <tr>
                <th>N</th>
                <th>xn</th>
                <th>fm</th>
                <th>E</th>
              </tr>
            </thead>
            <tbody>
              {% for i in range(length) %}
                <tr>
                    <td>{{ N[i] }}</td>
                    <td>{{ xn[i] }}</td>
                    <td>{{ fm[i] }}</td>
                    <td>{{ E[i] }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          <br>
      <form action="biseccion/descargar" method="post">
          <button type="submit">Descargar</button>
      </form>
    </div>  
      
    <div class="image-container">
      <div class="row mt-4">
        <div class="col-md 6">
            <img src="{{ imagen_path }}" alt="Imagen">
        </div>
      </div>
    </div>
    {% endblock %}
</body>
</html>