h1, p{
    text-align: center;
}

img-container {
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 100vh;           
}

.img-container img {
    max-width: 50%;
    height: auto;
    margin: auto; 
}

table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #f2f2f2;
}