body {
    font-family: 'Roboto', sans-serif;
    background-color: #ECF0F1;
    color: #34495E;
    margin: 0;
    padding: 20px;
}

main {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #34495E;
    margin-bottom: 20px;
}

p {
    text-align: center;
    font-size: medium;
    margin-bottom: 20px;
}

.table-container {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
}

th {
    background-color: #34495E;
    color: #fff;
}

button {
    background: #1ABC9C;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: medium;
    display: block;
    margin: 0 auto;
}

button:hover {
    background: #16A085;
}

.image-container {
    text-align: center;
    margin-top: 20px;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}
