<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Punto Fijo</title>
</head>
<body>
    <form action="/punto_fijo" method="post">
        <label for="f">f:</label><br>
        <input type="text" id="f" name="f"><br><br>

        <label for="g">g:</label><br>
        <input type="text" id="g" name="g"><br><br>

        <label for="x">X0:</label><br>
        <input type="text" id="x" name="x"><br><br>

        <label for="tol">Tolerancia:</label><br>
        <input type="text" id="tol" name="tol"><br><br>

        <label for="niter">Nº Iteraciones:</label><br>
        <input type="text" id="niter" name="niter"><br><br>

        <input type="submit" value="Enviar">
    </form>
    
</body>
</html>

