<!DOCTYPE html>
<html>
<head>
    <title>Mi página</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>
    <h1>Bienvenido a la página principal</h1>
    <p>Por favor, seleccione una opción:</p>
    <form action="/punto_fijo" method="GET">
        <button type="submit">Punto Fijo</button>
    </form>
    <form action="/biseccion" method="GET">
        <button type="submit">Biseccion</button>
    </form>
    <form action="/multiple_roots" method="GET">
        <button type="submit">Raíces Múltiples </button>
    </form>
    <form action="/rf" method="GET">
        <button type="submit">Regla Falsa </button>
    </form>
    <form action="/secante" method="GET">
        <button type="submit">Secante </button>
    </form>
    <form action="/newton" method="GET">
        <button type="submit">Newton </button>
    </form>
</body>
</html>
